<link rel="stylesheet" href="~/css/allusers.css">

<h1>All Users Page</h1>


<table>
    <tr>
        <th>UserId</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Password</th>
        <th>created_at</th>
        <th>updated_at</th>
        <th>WeddingsPlanned</th>
        <th>WeddingsAttending</th>
    </tr>
    @{
        foreach (var user in @ViewBag.allUsers) {
            <tr>
                <td>@user.UserId</td>            
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.Email</td>
                <td>@user.Password</td>
                <td>@user.created_at</td>
                <td>@user.updated_at</td>
                <td>@user.WeddingsPlanned</td>
                <td>@user.WeddingsAttending</td>
            </tr>
        }
    }

</table>